<div class="about-container">
    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse commodo purus id fermentum vulputate. 
      Duis pharetra arcu ac dignissim vehicula. Proin non magna eget nunc tincidunt venenatis sit amet a turpis. 
      Sed id tincidunt libero. Phasellus ac ipsum eu nulla commodo tristique. Vivamus convallis fermentum orci, 
      ac lobortis ipsum viverra at. Nullam non scelerisque libero.
    </p>
  
    <p>
      Pellentesque sit amet velit id ipsum ullamcorper fermentum. Integer in sagittis metus, eget sodales elit. 
      Aenean dapibus neque eget nunc vestibulum iaculis. Praesent gravida id nulla nec lacinia. Nulla quis ex eu 
      neque rhoncus egestas. Duis vitae sapien at enim sollicitudin placerat nec non ante. Integer sed feugiat 
      ligula, ut viverra risus. Nunc ac sollicitudin lectus.
    </p>
  
    <p>Sincerely,<br>Robertson OSCAR</p>
</div>  