nav {
    background-color: #002c5c;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .home-logo {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  
  .home-icon {
    width: 50px;
    height: auto;
  }

  .nav-links {
    flex-basis: 90%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
  }
  
  .nav-links li {
    margin: 0;
  }
  
  a {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #444444;
  }

  @media (max-width: 768px) {
    .nav-wrapper {
      flex-direction: column;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links li {
      margin-bottom: 10px;
    }
  
    .home-logo {
      padding-left: 0;
    }
  }
  